@import url('https://fonts.googleapis.com/css2?family=Titillium Web:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background text-foreground font-sans antialiased overflow-x-hidden transition-colors duration-500;
  }
}

.logo img {
  width: 30px;
}

.main-title {
  font-size: 3.5rem !important;
  font-weight: 100 !important;
  color: #888 !important;
}

:root[class~="dark"] .main-title {
  color: #a1a1aa !important;
  /* zinc-400 */
}

.main-title span {
  font-weight: 700 !important;
  color: #111 !important;
}

:root[class~="dark"] .main-title span {
  color: #ffffff !important;
}

.sub-title {
  font-weight: 100 !important;
}

.chat-area {
  border-radius: 50px !important;
}

.chat-area input {
  padding: 2rem !important
}